# ОС і середовище
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Тимчасові файли
*.log
*.tmp
*.lock
*.bak
*.swp


# PhpDocumentor
/cache/
output/

# OSPanel
/config/
ospanel.log

# Node.js
/node_modules/

# NetBeans
nbproject/
